<!DOCTYPE html>
<html lang="en">
    <!--HEAD--> 
    <%- include("./partials/head") %>

    <body>
        <!--HEADER-->
        <%- include("./partials/header") %>
      
        <main class="p-2 vw-90 mx-auto">
            <h1 class="title w-100 text-center">DETALLE DE PRODUCTO</h1>  
            <div class="w-50 align-center flex flex-wrap">
                <div class="bold w-25">Producto:</div><div class="w-75"><%= productos.nombre %></div>
                <div class="bold w-25">Descripcion:</div><div class="w-75"><%= productos.descripcion %></div>
                <div class="bold w-25">Precio:</div><div class="w-75"><%= productos.precio %></div>
                <div class="bold w-25">Ancho:</div><div class="w-75"><%= productos.ancho %></div>
                <div class="bold w-25">Alto:</div><div class="w-75"><%= productos.alto %></div>
                <div class="bold w-25">Profundidad:</div><div class="w-75"><%= productos.profundidad %></div>
                <div class="bold w-25">Peso:</div><div class="w-75"><%= productos.peso %></div>
            </div>
        </main>

        <!--FOOTER-->
        <%- include("./partials/footer") %>
        
        <!--SCRIPTS-->
        <script src="/js/carrousel.js"></script>
    </body>
</html>