<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    <%- include("../partials/head") %>

    <body>
        <!--HEADER-->
        <%- include("../partials/header") %>

        <main>
            <form class="container-form my-1 flex flex-wrap" action="/usuarios/update/<%= Usuarios.id %>" method="POST">
                <div class="w-100"><h2 class="text-center">EDITAR USUARIO</h2></div>

                <div class="w-25 p-2 bold">
                    <label for="fullName">Nombre</label>
                </div>
                <div class="w-75">
                    <input class="form-control" type="text" name="fullName" id="fullName" value="<%= Usuarios.fullName %>" required>
                </div>

                <div class="w-25 p-2 bold">
                    <label for="email">Email</label>
                </div>
                <div class="w-75">
                    <input class="form-control" type="text" name="email" id="email" value="<%= Usuarios.email %>" required>
                </div>

                <div class="w-25 p-2 bold">
                    <label for="country">Pais</label>
                </div>
                <div class="w-75">
                    <input class="form-control" type="text" name="country" id="country" value="<%= Usuarios.country %>" required>
                </div>

                <div class="w-25 p-2 bold">
                    <label for="telefono">Telefono</label>
                </div>
                <div class="w-75">
                    <input class="form-control" type="text" name="telefono" id="telefono" value="<%= Usuarios.telefono %>" required>
                </div>

                <div class="w-25 p-2 bold">
                    <label for="password">Password</label>
                </div>
                <div class="w-75">
                    <input class="form-control" type="text" name="password" id="password" required>
                </div>

                <div class="w-25 p-2 bold">
                    <label><b>Imagen de perfil:</b></label>
                </div>
                <div class="w-75">
                    <input 
                        type="file" 
                        name="avatar"
                        class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>"
                    >
                    <% if (locals.errors && errors.avatar) { %>
                        <div class="text-danger">
                            <%= errors.avatar.msg %>
                        </div>
                    <% } %>
                </div>
   
                <div class="align-center p-1">
                    <button type="submit" class="btn-primary">Actualizar Datos Personales</button>
                </div>   
            </form>
        </main>
       
        <!--FOOTER-->
        <%- include("../partials/footer") %>
        
        <!--SCRIPTS-->
        <script src="/js/carrousel.js"></script>         
    </body>
</html>