<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    <%- include("../partials/head") %>

    <body>
        <!--HEADER-->
        <%- include("../partials/header") %>

        <main>
            <form class="container-form my-1 flex flex-wrap" action="/productos/update/<%= productos.id %>" method="POST" enctype="multipart/form-data">
                <div class="w-100"><h2 class="text-center">EDITAR PRODUCTO</h2></div>
                <div class="form-group my-1">
                    <label for="sku">SKU</label>
                    <input 
                        type="text"
                        name="sku" 
                        id="sku"  
                        class="form-control <%= locals.errors && errors.sku? 'is-invalid' : null %>" 
                        value="<%= productos.sku %>"   
                    >
                    <% if (locals.errors && errors.sku) { %>
                        <div class="text-danger">
                            <%= errors.sku.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="form-group my-1">
                    <label for="nombre">Nombre</label>
                    <input 
                        type="text" 
                        name="nombre" 
                        id="nombre" 
                        class="form-control <%= locals.errors && errors.nombre? 'is-invalid' : null %>" 
                        value="<%= productos.nombre %>" 
                    >
                    <% if (locals.errors && errors.nombre) { %>
                        <div class="text-danger">
                            <%= errors.nombre.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="form-group my-1">
                    <label for="descripcion">Descripcion</label>
                    <input 
                        type="text" 
                        name="descripcion" 
                        id="descripcion" 
                        class="form-control <%= locals.errors && errors.descripcion? 'is-invalid' : null %>" 
                        value="<%= productos.descripcion %>" 
                    >
                    <% if (locals.errors && errors.descripcion) { %>
                        <div class="text-danger">
                            <%= errors.descripcion.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="form-group my-1">
                    <label for="marca_id">Marca</label>
                    <select name="marca_id" id="marca_id" class="form-control">
                        <% marcas.forEach(marca => { %>
                            <option value="<%= marca.id %>" 
                                <% if (productos.marca_id == marca.id) { %>
                                    selected  
                                <% } %>>
                                <%= marca.marca %>
                            </option>
                        <% }) %>
                    </select>
                    <% if (locals.errors && errors.marca_id) { %>
                        <div class="text-danger">
                            <%= errors.marca_id.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="form-group my-1">
                    <label for="categoria_id">Categoria</label>
                    <select name="categoria_id" id="categoria_id" class="form-control">
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria.id %>" 
                                <% if (productos.categoria_id == categoria.id) { %>
                                    selected  
                                <% } %>>
                                <%= categoria.categoria %>
                            </option>
                        <% }) %>
                    </select>
                    <% if (locals.errors && errors.categoria_id) { %>
                        <div class="text-danger">
                            <%= errors.categoria_id.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="form-group my-1">
                    <label for="precio">Precio</label>
                    <input 
                        type="text" 
                        name="precio" 
                        id="precio"
                        class="form-control <%= locals.errors && errors.precio? 'is-invalid' : null %>" 
                        value="<%= productos.precio %>"
                    >
                    <% if (locals.errors && errors.precio) { %>
                        <div class="text-danger">
                            <%= errors.precio.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="form-group my-1">
                    <label for="descuento">Descuento</label>
                    <input 
                        type="number" 
                        name="descuento" 
                        id="descuento"  
                        class="form-control <%= locals.errors && errors.descuento? 'is-invalid' : null %>"
                        value="<%= productos.descuento %>"
                    >
                    <% if (locals.errors && errors.descuento) { %>
                        <div class="text-danger">
                            <%= errors.descuento.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="form-group my-1">
                    <label for="oferta">Oferta</label>
                    <select class="form-control" id="oferta" name="oferta" onchange="optionSelected(this.value)">
                        <option value="1" <%= productos.oferta == 1 ? "selected" : ""  %>>SI</option>
                        <option value="0" <%= productos.oferta == 0 ? "selected" : ""  %>>NO</option>
                    </select>
                </div>

                <div class="form-group my-1">   
                    <label for="ancho">Ancho</label>
                    <input 
                        type="text" 
                        name="ancho" 
                        id="ancho" 
                        class="form-control <%= locals.errors && errors.ancho? 'is-invalid' : null %>" 
                        value="<%= productos.ancho %>"
                    >
                    <% if (locals.errors && errors.ancho) { %>
                        <div class="text-danger">
                            <%= errors.ancho.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="form-group my-1">  
                    <label for="alto">Alto</label>
                    <input 
                        type="text" 
                        name="alto" 
                        id="alto" 
                        class="form-control <%= locals.errors && errors.alto? 'is-invalid' : null %>" 
                        value="<%= productos.alto %>"
                    >
                    <% if (locals.errors && errors.alto) { %>
                        <div class="text-danger">
                            <%= errors.alto.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="form-group my-1">  
                    <label for="profundidad">Profundidad</label>
                    <input 
                        type="text" 
                        name="profundidad" 
                        id="profundidad"
                        class="form-control <%= locals.errors && errors.profundidad? 'is-invalid' : null %>" 
                        value="<%= productos.profundidad %>"
                    >
                    <% if (locals.errors && errors.profundidad) { %>
                        <div class="text-danger">
                            <%= errors.profundidad.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="form-group my-1">  
                    <label for="peso">Peso</label>
                    <input 
                        type="text" 
                        name="peso" 
                        id="peso"   
                        class="form-control <%= locals.errors && errors.peso? 'is-invalid' : null %>" 
                        value="<%= productos.peso %>"
                    >
                    <% if (locals.errors && errors.peso) { %>
                        <div class="text-danger">
                            <%= errors.peso.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="form-group my-1">  
                    <label for="imagen">Imagen</label>
                    <input 
                        type="file" 
                        name="imagen"
                        class="form-control <%= locals.errors && errors.imagen ? 'is-invalid' : null %>"
                        value="<%= productos.imagen %>"
                    >
                    <% if (locals.errors && errors.imagen) { %>
                        <div class="text-danger">
                            <%= errors.imagen.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="flex flex-center w-100">
                    <div class="p-1">
                        <button class="btn-primary" onclick="window.location.href=`/productos/admin/`;">Volver</button>
                    </div> 
                    <div class="p-1">
                        <button type="submit" class="btn-primary">Guardar</button>
                    </div>   
                </div>
            </form>
        </main>
       
        <!--FOOTER-->
        <%- include("../partials/footer") %>
        
        <!--SCRIPTS-->
        <script src="/js/carrousel.js"></script>   
     
    </body>
</html>