<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    <%- include("../partials/head") %>

    <body>
        <!--HEADER-->
        <%- include("../partials/header") %>

        <main>
            <form class="container" action="/productos/update/<%= Productos.id %>" method="POST">
                <h2 class="text-center">EDITAR PRODUCTO</h2>
                <div class="col-md-6 my-1">
                    <div class="form-group">
                        <label for="sku">SKU</label>
                        <input class="form-control" type="text" name="sku" id="sku" value="<%= Productos.sku %>" required>
                    </div>
                </div>
                <div class="col-md-6 my-1">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input class="form-control" type="text" name="nombre" id="nombre" value="<%= Productos.nombre %>" required>
                    </div>
                </div>
                <div class="col-md-6 my-1">
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input class="form-control" type="text" name="descripcion" id="descripcion" value="<%= Productos.descripcion %>" required>
                    </div>
                </div>
                <div class="col-md-6 my-1">
                    <div class="form-group">
                        <label for="marca_id">Marca</label>
                        <input class="form-control" type="text" name="marca_id" id="marca_id" value="<%= Productos.marca_id %>" required>
                    </div>
                </div>
                <div class="col-md-6 my-1">
                    <div class="form-group">
                        <label for="categoria_id">Categoria</label>
                        <input class="form-control" type="text" name="categoria_id" id="categoria_id" value="<%= Productos.categoria_id %>" required>
                    </div>
                </div>
                <div class="col-md-6 my-1">
                    <div class="form-group">
                        <label for="precio">Precio</label>
                        <input class="form-control" type="text" name="precio" id="precio" value="<%= Productos.precio %>" required>
                    </div>
                </div>
                <div class="col-md-6 my-1">
                    <div class="form-group">
                        <label for="ancho">Ancho</label>
                        <input class="form-control" type="text" name="ancho" id="ancho" value="<%= Productos.ancho %>" required>
                    </div>
                </div>
                <div class="col-md-6 my-1">
                    <div class="form-group">
                        <label for="alto">Alto</label>
                        <input class="form-control" type="text" name="alto" id="alto" value="<%= Productos.alto %>" required>
                    </div>
                </div>
                <div class="col-md-6 my-1">
                    <div class="form-group">
                        <label for="profundidad">Profundidad</label>
                        <input class="form-control" type="text" name="profundidad" id="profundidad" value="<%= Productos.profundidad %>" required>
                    </div>
                </div>
                <div class="col-md-6 my-1">
                    <div class="form-group">
                        <label for="peso">Peso</label>
                        <input class="form-control" type="text" name="peso" id="peso" value="<%= Productos.peso %>" required>
                    </div>
                </div>
                <div class="col-md-6 my-1">
                    <div class="form-group">
                        <label for="imagen">Imagen</label>
                        <input class="form-control" type="text" name="imagen" id="imagen" value="<%= Productos.imagen %>" required>
                    </div>
                </div>

                <div class="col-12 my-3 text-center">
                    <button type="submit" class="btn-primary">Guardar</button>
                </div>   
            </form>
        </main>
       
        <!--FOOTER-->
        <%- include("../partials/footer") %>
        
        <!--SCRIPTS-->
        <script src="/js/carrousel.js"></script>         
    </body>
</html>