<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    <%- include("./partials/head") %>

    <body>
        <!--HEADER-->
        <%- include("./partials/header") %>

        <main>
            <section class="container-form">
                <h1>Mi Perfil</h1>
                <div class="flex flex-center">
                    <div class="form-group p-1">
                        <button class="btn-primary" onclick="window.location.href=`/usuarios/edit/<%= user.id %>`;">Actualizar datos</button>
                    </div> 
                    <div class="form-group p-1">
                        <button class="btn-primary" onclick="window.location.href=`/usuarios/delete/<%= user.id %>`;">Eliminar usuario</a></button>
                    </div>
                    <div class="form-group p-1">
                        <button class="btn-primary">Historial de compras</a></button>
                    </div>
                    <div class="form-group p-1">
                        <button class="btn-primary" onclick="window.location.href='/logout';">Cerrar Sesión</button>
                    </div>
                </div>

                <h1>Datos Personales</h1>
                <div class="form-group my-1">
                    <label for="fullName">Nombre</label>
                    <input
                        name="fullName"
                        type="text"
                        class="form-control"
                        value="<%= user.fullName %>"
                        readonly
                    />
                </div>
                <div class="form-group my-1">
                    <label for="email">Email</label>
                    <input
                        name="email"
                        type="text"
                        class="form-control"
                        value="<%= user.email %>"
                        readonly
                    />
                </div>
                <div class="form-group my-1">
                    <label for="country">Pais</label>
                    <input
                        name="country"
                        type="text"
                        class="form-control"
                        value="<%= user.country %>"
                        readonly
                    />
                </div>
                <div class="form-group my-1">
                    <label for="contact_number">Teléfono</label>
                    <input
                        name="telefono"
                        type="text"
                        class="form-control"
                        value="<%= user.telefono %>"
                        readonly
                    />
                </div>
                <div class="form-group my-1">
                    <label for="avatar">Avatar</label>
                    <div>
                        <img src="/images/avatars/<%= user.avatar %>" alt="avatar"/>
                    </div>
                </div>
                      
            </section>
        </main>

        <!--FOOTER-->
        <%- include("./partials/footer") %>
            
        <!--SCRIPTS-->
        <script src="/js/carrousel.js"></script>         
    </body>
</html>
