<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    <%- include("../partials/head") %>

    <body>
        <!--HEADER-->
        <%- include("../partials/header") %>

        <main>
            <form class="container-form my-1" action="/usuarios/update/<%= Usuarios.id %>" method="POST">
                <div class="w-100"><h2 class="text-center">EDITAR USUARIO</h2></div>

                <div class="form-group my-1">
                    <label><b>Nombre completo:</b></label>
                    <input 
                        type="text" 
                        name="fullName" 
                        class="form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
                        value="<%= Usuarios.fullName %>"
                    >
                    <% if (locals.errors && errors.fullName) { %>
                        <div class="text-danger">
                            <%= errors.fullName.msg %> 
                        </div>
                    <% } %>
                </div>
                <div class="form-group my-1">
                     <label for="telefono"><b>Número de Teléfono:</b></label>
                     <input 
                     type="tel" 
                     name="telefono"
                     class="form-control <%= locals.errors && errors.telefono ? 'is-invalid' : null %>"
                     value="<%= Usuarios.telefono %>"
                 >
                 <% if (locals.errors && errors.telefono) { %>
                     <div class="text-danger">
                         <%= errors.telefono.msg %> 
                     </div>
                 <% } %>
                </div> 
                <div class="form-group my-1">
                    <label><b>Correo electrónico:</b></label>
                    <input 
                        type="text" 
                        name="email" 
                        class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                        value="<%= Usuarios.email %>"
                    >
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="form-group my-1">
                    <label><b>Password:</b></label>
                    <input 
                        id="password" 
                        type="password" 
                        name="password" 
                        class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                    >
                    <span class="password-toggle" onclick="togglePassword()">Mostrar</span>

                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="form-group my-1">
                    <label><b>País de nacimiento:</b></label>
                    <select 
                        name="country" 
                        class="form-select <%= locals.errors && errors.country ? 'is-invalid' : null %>"
                    >
                        <option value="">Elegí un país</option>
                        <% let countries = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela']; %>
                        <% for (const oneCountry of countries) { %>
                            <option 
                                value="<%= oneCountry %>"
                                <%= locals.oldData && (oneCountry === oldData.country) ? 'selected' : null %> 
                            > <%= oneCountry %> </option>
                        <% } %>
                    </select>
                    <% if (locals.errors && errors.country) { %>
                        <div class="text-danger">
                            <%= errors.country.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="form-group my-1">
                    <label><b>Imagen de perfil:</b></label>
                    <input 
                        type="file" 
                        name="avatarFile"
                        class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>"
                    >
                    <% if (locals.errors && errors.avatar) { %>
                        <div class="text-danger">
                            <%= errors.avatar.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="align-center p-1">
                    <button type="submit" class="btn-primary">Actualizar Datos Personales</button>
                </div>
               
   
                 
            </form>

        </main>
       
        <!--FOOTER-->
        <%- include("../partials/footer") %>
        
        <!--SCRIPTS-->
        <script src="/js/carrousel.js"></script>         
    </body>
</html>