<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    <%- include("../partials/head") %>

    <body>
        <!--HEADER-->
        <%- include("../partials/header") %>
  
        <main> 
            <form class="container-form my-1" method="POST" action="/register" enctype="multipart/form-data">
                <h2 class="text-center">Formulario de registro</h2>
                    <div class="form-group my-1">
                        <label><b>Nombre completo:</b></label>
                        <input 
                            type="text" 
                            name="fullName" 
                            class="form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.fullName : null %>"
                        >
                        <% if (locals.errors && errors.fullName) { %>
                            <div class="text-danger">
                                <%= errors.fullName.msg %> 
                            </div>
                        <% } %>
                    </div>

                    <div class="form-group my-1">
                        <label for="telefono"><b>Número de Teléfono:</b></label>
                        <input 
                            type="tel" 
                            name="telefono"
                            class="form-control <%= locals.errors && errors.telefono ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.telefono : null %>"
                        >
                     <% if (locals.errors && errors.telefono) { %>
                         <div class="text-danger">
                             <%= errors.telefono.msg %> 
                         </div>
                     <% } %>
                    </div> 

                    <div class="form-group my-1">
                        <label><b>Correo electrónico:</b></label>
                        <input 
                            type="text" 
                            name="email" 
                            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.email : null %>"
                        >
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="form-group my-1">
                        <label><b>Password:</b></label>
                        <input 
                            id="password" 
                            type="password" 
                            name="password" 
                            class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                        >
                        <span class="password-toggle" onclick="togglePassword()">Mostrar</span>
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="form-group my-1">
                        <label><b>País de nacimiento:</b></label>
                        <select 
                            name="country" 
                            class="form-select <%= locals.errors && errors.country ? 'is-invalid' : null %>"
                        >
                            <option value="">Elegí un país</option>
                            <% let countries = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela']; %>
                            <% for (const oneCountry of countries) { %>
                                <option 
                                    value="<%= oneCountry %>"
                                    <%= locals.oldData && (oneCountry === oldData.country) ? 'selected' : null %> 
                                > <%= oneCountry %> </option>
                            <% } %>
                        </select>
                        <% if (locals.errors && errors.country) { %>
                            <div class="text-danger">
                                <%= errors.country.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="form-group my-1">
                        <label><b>Imagen de perfil:</b></label>
                        <input 
                            type="file" 
                            name="avatar"
                            class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.avatar) { %>
                            <div class="text-danger">
                                <%= errors.avatar.msg %>
                            </div>
                        <% } %>
                    </div>

                <div class="text-center">
                    <button type="submit" class="btn-primary">Registrarse</button>
                </div>
            </form> 

            <div id="mensajeRegistro" class="oculto">
                <h2>Te has registrado con éxito</h2>
                <h3>BIENVENIDO</h3>
            </div>

        </main>

        <!--FOOTER-->
        <%- include("../partials/footer") %>
        
        <!--SCRIPTS-->
        <script src="/js/carrousel.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>